<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fosan Cloud</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link rel="stylesheet" href="/css/library.css" type="text/css">
</head>

<body>
    <div class="ui secondary menu" style=" background-color: #000; width: 100%">
        <img src="/images/fosan4.jpg" width="15%" style="border-radius: 5px">
        <a class=" item" link href="/"
            style="border-radius: 0; border-right:1px solid black; color: rgb(255, 60, 0) !important;">
            HOME
        </a>
        <a class="item" link href="/library"
            style="border-radius: 0; border-right:1px solid black;color: rgb(255, 60, 0) !important;">
            STREAM
        </a>
        <div class="right menu">
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
            <a class="ui item" href="/register" style="color: rgb(255, 60, 0);">
                SIGN UP
            </a>
            <a class="ui item" href="/login" style="color: rgb(255, 60, 0);">
                SIGN IN
            </a>
        </div>
    </div>
    <!--body-->
    <% data.forEach(el => { %>
    <div class="ui items" style="  background-color: #fff !important;">
        <div class="item">

            <div class="image" style="width: 300px;">
                <img src="/images/image.png">
            </div>
            <div class="content"">
                <a class=" header"><%=el.dataValues.Title%></a>
                <div class="meta">
                    <span><%=el.dataValues.Artist%></span>
                </div>
                <div class="meta">
                    <span><%=el.dataValues.Genre%></span>
                </div>
                <div class="description">
                </div>
                <div class="extra">
                    <audio controls>
                        <source src="/lagu/<%=el.dataValues.comments%>"  type="audio/mpeg">
                            <span><%=el.dataValues.comments%></span>
                      Your browser does not support the audio element.
                      </audio> 
                </div>
                <div class="ui bottom attached button" style="background-color: rgb(255, 60, 0);">
                    <i class="add icon"><a href="/comment"></i>
                    Add Comments
                </div>
            </div>
        </div>
    </div>
    <% }) %>
    <!--footer-->
    <footer>
        <div class="container">
            <small>copyright &copy; 2020 - FosanCloud. All Right Reserved.</small>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>

</html>